body{
  font-family: Arial;
  padding:0;
  margin:0;
  background-color:#2A4059;
}

header{
   
  background:#2A4059;
  color:white;
  width: 100%;
  border-bottom: white solid 1px;
  padding: 20px;
  
}

header a{
  color:WHITE;
  text-decoration:none;
  font-size:20px;
}

header li{
  float:left;
  display:inline;
  padding: 0 10px 0 50px;
}

header nav{
  float:right;
  margin-top:10px;
}

.container{
  width: 80%;
  margin:auto;
  overflow: hidden;
  
}

.container2{
  text-align: center;
  margin:auto;
  overflow:hidden;
  width: 80%;
}

.container3{
  text-align: center;
  margin:auto;
  overflow:hidden;
  width: 80%;
}


#boxes .box-img{
  float:left;
  text-align: center;
  width:30%;
  padding: 15px;
  background-color: white;
}

#boxes .box-img img{
  float: left;
  width:120px;
  

}

h1{
 font-size: 80px;  
}

span{
  color:#e8491d;
  
}

h2{
  color:#e8491d;
  font-size: 50px;
  text-align: center; 
  background-color: white;
  padding: 0px;

}
 p3{
   color: white;
 }

p{
   color:#2A4059;
   font-size: ;
 }

h3{
  color: white;
  font-size: 30px;
}

footer{
  color: white;
  padding:20px;
  margin-top:20px;
  background-color:#e8491d;
  text-align: center;
  height: 300px;
}


